:root {
    --primaryColor: #2C3E50;
    --secondaryColor: #1abc9c;

}


nav {
    background-color: var(--primaryColor);

}

/* .navbar a {
    color: #FFFFFF;
} */

.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--secondaryColor);
}

.banner {
    background-color: #1ABC9C;
}

/* .divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;} */
footer {
    background-color: #2C3E50;
}

.social-icon {
    border: 2px solid white !important;
    border-radius: 50% !important;
}
.color{
    background-color: #1ABC9C;
}